{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block content %}
<div class="small-block">
{% for item in app.flashes('notice') %}
    <div class="alert alert-info">{{item}}</div>
{% endfor %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Tu es connecté à <strong>{{ app.user.email }}</strong>, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% else %}
        <h1 class="h3 mb-3 font-weight-normal">Connexion</h1>
    <label for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" placeholder="Email" required autofocus>
    <label for="inputPassword">Mot de passe</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" placeholder="Mot de passe" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    <button class="btn btn-lg btn-info btn-block mt-3" type="submit">
        Valider
    </button>
    {% endif %}
    <hr>
    <p class="text-center"><a href="{{path('reset_password')}}">Mot de passe oublié ?</a></p>
    <p class="text-center"><a href="{{path('register')}}">Créer un compte</a></p>
    
</form> 
</div>
{% endblock %}
