{% extends 'base.html.twig' %}

{% block title %}Erreur de paiement{% endblock %}

{% block content %}
    <h2>Erreur de paiement</h2>
    <p>
        Bonjour {{order.user.firstname}} {{order.user.lastname}}, il semblerait que votre paiement est échoué pour votre commande n°{{order.reference}} <br>
        Une email vient d'être envoyée à l'adresse <strong>{{order.user.email}}</strong>.
        <hr>
    </p>
    <hr>
    <a href="{{path('order')}}" class="btn btn-success">Réessayer le paiement</a>
{% endblock %}

