{% extends 'base.html.twig' %}
{% block title %}
{{oneProduct.name}}
{% endblock %}
{% block content %}
	<div class="row">
		<div class="col-md-5">
			<img src="/assets/images/{{ oneProduct.illustration }}" alt="{{oneProduct.name}}" class="img-fluid">
		</div>
		<div class="col-md-7 my-auto">
			<h3>{{oneProduct.name}}</h3>
			<p>{{oneProduct.subtitle}}</p>
			<span class="product-page-price">{{ (oneProduct.price /100)|number_format(2,",",".") }} €</span>
			<hr>
			<p>{{oneProduct.description}}</p>
			<hr>
			<a href=" {{path("add_to_cart", {'id':oneProduct.id})}} " class="btn btn-primary">Ajouter au panier</a>
		</div>
	</div>
	<hr>
	<h3>Nos meilleurs ventes</h3>
        <p>Découvrez nos articles les plus vendus</p>
        <div class="row">
            {% for products in products %}
                <div class="col-md-3">    
                    {% include "product/single_product.html.twig" %}
                </div>
            {% endfor %}
        </div>
{% endblock %}
